unversioned
/testdata/maps.json
/testdata/dumps
/migration/maps.json
/migration/exported*
/migration/files.tar
/migration/articles
/migration/*.sums
/migration/sums.tgz
/migration/*.log
/migration/*manifest*
/migration/*.html
/migration/travel-manager
/migration/developers
/migration/deltas*
/migration/files
/migration/help
/migration/ncihelp
/migration/inline-images
mysql.general_log*.sql
/dross
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess
/web/INSTALL.txt
/web/README.*
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/robots.txt
/web/update.php
/web/web.config
/web/core
/web/modules/contrib
/web/modules/README.*
/web/profiles
/web/sites
/web/themes/contrib
/web/themes/README.*
/vendor
/.idea
/.vscode
*~
*.bak
*.dump
.phpunit.result.cache
adminpw
userpw
dburl
sitehost
assets
package
drush/drush.yml
settings.php
.DS_Store
nohup.out
ebms3db.json
