/* 
    Document   : not_list
    Created on : Sep 26, 2012, 2:37:10 PM
    Author     : youngdr
    Description:
        Purpose of the stylesheet follows.
*/

#citation-form-div fieldset,
#citation-results-div fieldset{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#citation-form-div > input {
    margin: 0 12px;
}

#citation-form-div {
    margin-left: 250px;
}

div.ctools-modal-content #citation-form-div{
    margin: auto;
}

.citation-input-div > .form-item > label {
    text-transform: uppercase !important;
    float: right !important;
    width: 175px;
    margin: auto;
    padding-right: 0px !important;
}

.citation-input-div {
    /*clear: both;*/
}

.page-citations #citation-form-div .citation-input-div input.form-text,
.page-citations #citation-form-div .citation-input-div select{
    width: 525px;
}

.page-citations #citation-form-div .citation-input-div>
.form-type-checkbox>input.form-checkbox{
    margin-left: 510px;
}

.page-citations #citation-form-div .citation-input-div>
.form-type-checkbox>input.form-checkbox:not(#foo){
    margin-left: 490px;
    margin-top: 0px;
}

#citation-results-div {
    clear: both;
    padding-top: 20px;
}

#citation-results-div .results-count{
    color: #696559;
    font-size: 20px;
    font-weight: bold;
}

#citation-table-div,
.citation-table,
.citation-subtable{
    display: table;
}

.citation-subtable{
    height: 100%;
}

#citation-table-div {
    clear: both;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.citation-row {
    display: table-row;
}

#citation-results-div .item-list {
    width: 40%;
    float: right;
}

#citation-results-div .pager {
    margin: 10px 0px;
}

.citation-column {
    display: table-column;
}

.summary-topic-name{
    border-left: 1px solid #696559 !important;
}

.summary-topic-check{
    border: none;
}


.summary-topic-check .form-item{
    margin: 0px;
}

td.board-cell {
    border-left: 1px solid #696559 !important;
}

/* full citation styles*/
#citation-form-div .fieldset-title{
    text-transform: uppercase !important;
}

#citation-form-div .image-button,
#citation-results-div .image-button{
    border: none;
}

.citation-subheader{
    font-weight: bold;
    text-transform: uppercase !important;
}

.citation-subheader{
    margin-top: 20px;
}

.left-side .citation-subheader{
    margin-top: 0px;
}

.citation-comment{
    padding-left: 6em;
    text-indent: -6em;
}

#citation-form-div .full-citation-button,
#citation-results-div .full-citation-button{
    float: left;
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 0px;
}


.full-citation-indent {
    padding-left: 30px;
    margin-left: 0px;
    border-left: none;
    min-height: 20px;
}

.full-citation-topic .full-citation-latest-decision .full-citation-indent{
    margin-left: 30px;
    padding-left: 10px;
    border-left: 10px #0000BB solid;
}

#citation-form-div .full-citation-topic .full-citation-past-items legend,
.full-citation-topic .full-citation-indent,
#citation-form-div .full-citation-latest-decision .full-citation-past-items .full-citation-indent{
    padding-left: 50px;
    margin-left: 0px;
    border-left: none;
}

#citation-form-div .full-citation-element{
    margin-bottom: 20px;
}

#citation-form-div .full-citation-form label,
#citation-form-div .form-textarea-wrapper{
    margin: 0px;
}

#citation-form-div .full-citation-form .form-item{
    margin: 0em 0em 1em;
}

#citation-form-div .full-citation-form .form-submit{
    margin: 0em 0.5em 0.5em;
}

#citation-form-div .full-citation-past-items div{
    color: #696559;
    opacity: 75%;
}

#citation-form-div .full-citation-decision-icon{
    padding: 0px 5px;
}

#citation-form-div .full-citation-results .full-citation-radio-check .form-checkboxes{
    margin: 0px;
}

#citation-form-div .full-citation-results .full-citation-radio-check .form-type-checkbox{
    float: left;
    margin: 5px;
}

#citation-form-div .form-type-textarea{
    clear: both;
}

#citation-form-div .full-citation-element .form-submit{
    margin: 5px;
}

#citation-form-div .small-button{
    padding: 5px;
}

#citation-form-div .left-side{
    float: left;
}

.js-response-reject{
    display: none;
}

.left-nav-most-recent{
    min-height: 20px;
    margin: 0 0 0 5px;
    padding: 0 10px 0 0;
    border-left: 10px #0000BB solid;
    display: inline-block;
}

#view-abstract-div .citation-abstract-label,
#view-abstract-div .citation-abstract-text,
.action-cell > div{
    margin: 0 10px 10px;
}

.board-cell select{
    width: 125px;
}


.summary-topic-name select{
    width: 250px;
}

.summary-topic-name a{
    float: left;
}

.summary-topic-name div{
    padding-left: 25px;
}