#publish-bottom { clear: both; }
#left-nav { margin-bottom: 40px; }
#publish-filter { float: left; width: 620px; margin-bottom: 40px; }
#pdq-ebms-publish-filter-form select { width: 100%; }
.col-1 { width: 50px; font-size: 24px; text-align: right;
    padding-right: 10px;
}
.col-2 { border-left: none; }
td.col-3:first-child, td.col-4:first-child { border-left: 1px solid #696559; }
.publishable-article td { padding-top: 50px; }
.publishable-article:first-child td { padding-top: 10px; }
td.col-5 { text-align: center; }
.col-1 {width: 70px; }
.col-3 { width: 150px; }
.col-4 { width: 250px; }
#pub-queue-table { margin-left: -90px; width: 1050px; }
#top-buttons, #bottom-buttons { margin-top: 20px; }
#top-buttons a, #bottom-buttons a { margin-right: 10px; }
span.working { display: none; color: #a90101; text-decoration: blink; }
.button:hover { cursor: pointer; }
