#report-title { clear: both; padding-top: 25px; }
#documents-top #report-form h2 { margin-top: 0; }

/* #filter-buttons { width: 498px; text-align: right; clear: both; } */
#reports-image { margin-top: 10px; margin-bottom: 30px; }
#reports-right-links ul { list-style-type: none; margin-bottom: 50px; }
#reports-right-links li {
    text-transform: uppercase; margin-top: 12px; margin-left: 30px;
}
#reports-right-links li:first-child { margin-left: 10px; }
#reports-right-links li:first-child a { font-weight: bold; }
#report-form, #reports-right, #report-stub {
    float: left; width: 730px; margin-bottom: 50px;
}
/*#report-form h2 { margin-top: 25px; }*/
#report-form .form-select.fixed-width { width: 500px; }
#report-form .form-text.fixed-width { width: 498px; }
#report-form .form-type-select label,
#report-form .form-type-textfield label{ text-transform: uppercase; }
/*#left-nav .child { padding-left: 25px; } moved to ebms.css*/
#report-form #report-buttons { width: 498px; text-align: right; clear: both; }
#report-form #report-buttons input {
    margin: 15px 0 12px 12px; padding: 10px 12px;
}
/* moved to ebms.css
#left-nav li.parent a { font-size: 15px; }
#left-nav li.parent.open a { opacity: 1; color: #2d2c28; }
*/
.date-field-line { clear: both; margin-top: 0; }
.box-on-right { float: right; margin-right: 2px; }
.box-on-right .form-item { margin-top: 0; margin-bottom: 0; }
form .box-on-right .form-item.form-type-checkbox:not(#foo) label {
    font-weight: normal;
}
form .box-on-right .form-item.form-type-checkbox:not(#foo) label {
    background-position: right; background-repeat: no-repeat;
    padding-right: 30px;
}
.form-item.form-type-date {
    float: left; clear: both; margin-top: 0; margin-bottom: 10px;
}
.date-label {
    float: left; margin-left: 10px; margin-top: 0;
    text-transform: uppercase; font-weight: normal;
}
/* Year, month, day order */
.form-type-date div div select { width: 150px; }
.form-type-date div div:first-child select { width: 125px; }
.form-type-date div div:last-child select { width: 75px; }

/* Month, day, year order */
.form-type-date div div select { width: 75px; }
.form-type-date div div:first-child select { width: 150px; }
.form-type-date div div:last-child select { width: 125px; }

.date-with-range { width: 500px; float: left; }

div.right-aligned-date { float: left; margin-left: 140px; }
div.right-aligned-date > div { margin: 0 0 5px 5px; }
.form-item div.right-aligned-date + div.option.label-508.form-item,
div.right-aligned-date + label.option {
    float: left; margin-top: 2px; text-transform: uppercase; margin-left: 5px;
    clear: none; font-weight: normal;
}

#report { clear: both; }
#report caption { font-weight: bold; margin-top: 50px; margin-bottom: 20px; }
#report .meta { margin-left: 11px; }
/*
#report .meta .label {
    padding-right: 1em; float: left; width: 120px; text-align: right;
}
*/
#report td { padding: 5px 10px; }
#report tr.even { border-bottom: none; background-color: white; }
/*
#report.cites-pub table { width: 720px }
*/
#report th, #report td { text-align: right; width: 50%; }
#report th:first-child, #report td:first-child { text-align: left; }
#report.initial-decision th, #report.initial-decision td { width: 25%; }
#report.initial-decision th:first-child,
#report.initial-decision td:first-child { width: 50%; }
#report.manager-rejection th, #report.manager-rejection td {
    text-align: left; width: 5%;
}
#report.manager-rejection th.col-3, #report.manager-rejection td.col-3 {
    width: 26%;
}
#report.manager-rejection th.col-4, #report.manager-rejection td.col-4 {
    width: 14%;
}
#report.manager-rejection table.sticky-table { margin-top: 20px; }
#report.topic-changes th, #report.topic-changes td {
    text-align: left; width: 8%;
}
#report.topic-changes th.col-3, #report.topic-changes td.col-3,
#report.topic-changes th.col-4, #report.topic-changes td.col-4 {
    width: 35%;
}
#report.topic-changes table.sticky-table { margin-top: 20px; }
div.import-reports h2 { margin-bottom: 15px; }
div.import-reports ul li a { text-transform: uppercase; }
#import-report td, #import-report th { border-left: none; }
#documents-top div.form-item-archived { clear: both; margin-left: 476px; }
#membership-top div.form-type-checkbox {
    clear: both; margin: 5px 0 5px 476px;
}
#membership-top { overflow: hidden; }
#membership-top div.form-item-board { margin-bottom: 10px; }
#pdq-ebms-membership-report-form div.item-list { margin: 20px 20px; }
#pdq-ebms-membership-report-form div.item-list h3 {
    clear: both; color: #696559; font-size: 18px;
    border-bottom: 1px solid #696559;
}
#pdq-ebms-membership-report-form div.item-list ul { margin-left: 20px; }

#doc-report { margin-top: 35px; }

/*
#doc-report .col-1 { width: 325px; }
#doc-report .col-2 { width: 275px; }
#doc-report .col-3 { width: 150px; }
*/

#cites-by-status-report,
#review-report { width: 1027px; margin-left: -67px; }
#review-report .col-0 { text-align: right; width: 50px; font-size: 24px; }
#review-report .col-1 { border-left: none; width: 350px; }
#review-report .col-2 { width: 60px; }
#review-report .col-3 { width: 200px; }
#review-report .col-3 .reviewer-name { 150px; }
#review-report .col-3 img { float: right; }
#review-report .col-4 { width: 300px; }
.article-title { font-style: italic; }
#review-report .col-2, td.need-left-border:first-child,
#review-report .col-3 { border-left: 1px solid #696559; }
.col-0 { text-align: right; width: 50px; font-size: 24px; }
#cites-by-status-report .col-1 { border-left: none; }
/* #disposition-field.hidden { display: none; } */

