<div id="login" class="grid-row flex-column flex-align-center margin-top-3">
  <div class="login-images">
    <img src="/themes/custom/ebms/images/istock-document-activity.jpg">
    <img src="/themes/custom/ebms/images/policies-and-procedures.jpg">
    <img src="/themes/custom/ebms/images/istock-meeting-activity.jpg">
    <img src="/themes/custom/ebms/images/directions.jpg">
  </div>
  <div class="margin-top-4 margin-bottom-3"><a class="usa-button" href="{{ url }}">Go To Login Page</a></div>
  <div id="login-instructions" class="width-tablet-lg border-1px padding-1 padding-x-3 xxxborder-blue radius-lg">
    <p>You need either a Google account or an NIH account to log into this system.</p>
    <p>Click the button above to login to the system. On the login page, select "HHS Login" if you have an NIH account or "Social Login/Open ID" if you have a Google account.</p>
    <p>If you need to log out of your currently active Google account in order to use the account associated with the EBMS, use <a href="https://mail.google.com/mail/logout?hl=en" target="_blank">this link</a>.</p>
    <p>If you are a new user or have any problems logging in, please contact your PDQ Board manager.</p>
  </div>
</div>
