/* 
    Document   : ebms_webform.css
    Created on : Dec 20, 2012, 9:34:04 AM
    Author     : doylejd
    Description:
        Purpose of the stylesheet follows.
*/


#webform-component-amount.hidden {
    display:none;
}

#webform-table-right {
        float:left;
    margin-bottom: 50px;
    width: 730px;
}
#webform-table-long-right {
    float: left;
    margin-top: 20px;
}
.travel-left-nav {
    margin-top:20px;
}