/* 
    Document   : calendar
    Created on : Nov 21, 2012, 4:56:47 PM
    Author     : youngdr
    Description:
        Purpose of the stylesheet follows.
*/

#calendar-enclosure{
    float: left;
    width: 710px;
}

#calendar-enclosure.preview{
    float: none;
}

li.calendar-date{
    text-transform: uppercase;
}

#calendar-enclosure h2{
    margin-top: 0px;
}

#calendar-enclosure .subheader{
    text-transform: uppercase;
}

#calendar-enclosure .indent{
    padding-left: 25px;
}

#calendar-enclosure.editable .indent{
    padding-left: 50px;
}
#calendar-enclosure .edit-button-icon{
    float: left;
    margin: 10px 0 0 5px;
}

#calendar-enclosure .trailing{
    margin-bottom: 20px;
}

#nav-previous-event,
#nav-following-event{
    margin-top: 6px;
}

#nav-previous-event{
    float: left;
}

#nav-following-event{
    float: right;
}

#nav-previous-event a,
#nav-following-event a{
    font-size: x-large;
    font-weight: bold;
}

#calendar-enclosure .calendar-calendar .month-view .full td.single-day div.monthview,
#calendar-enclosure .calendar-calendar .week-view .full td.single-day div.weekview,
#calendar-enclosure .calendar-calendar .day-view .full td.single-day div.dayview {
    background-color: #FFFFFF;
}

#calendar-enclosure .calendar-calendar .week-view .full div.single-day div.weekview,
#calendar-enclosure .calendar-calendar .day-view .full div.single-day div.dayview {
    background-color: #FFFFFF;
    /*overflow: hidden;
    padding: 0 3px;
    width: auto;*/
}

#calendar-enclosure .calendar-calendar td span.date-display-single,
#calendar-enclosure .calendar-calendar td span.date-display-start,
#calendar-enclosure .calendar-calendar td span.date-display-end,
#calendar-enclosure .calendar-calendar td span.date-display-separator {
    font-weight: inherit;
}

#calendar-enclosure .view .date-nav-wrapper .date-prev {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0;
    float: left;
    font-size: 12px;
    left: auto;
    padding: 5px 0;
    position: static;
    right: auto;
    text-align: left;
    top: 0;
    width: auto;
    z-index: 1;
}

#calendar-enclosure .view .date-nav-wrapper .date-next {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0;
    float: right;
    font-size: 12px;
    padding: 5px 0;
    position: static;
    right: auto;
    text-align: left;
    top: 0;
    width: auto;
    z-index: 1;
}


#calendar-enclosure .view .date-nav-wrapper .date-prev a,
#calendar-enclosure .view .date-nav-wrapper .date-next a{
    font-size: x-large;
}

#calendar-enclosure .item-list ul.pager {
    padding-right: 0px;
}

.date-nav {
    padding-bottom: 0px !important;
}

#calendar-enclosure .date-heading{
    z-index: -1;
}

#calendar-enclosure .button{
    margin: 0 0 10px 5px;
    display: inline-block;
    width: auto;
}

.region-sidebar-second #calendar-enclosure{
    width: 302px;
    margin: 20px 0px 13px 27px;
    padding-left: 0;
}

.region-sidebar-second #calendar-enclosure .pager,
.region-sidebar-second #calendar-enclosure .date-nav{
    margin: 0px;
}

.region-sidebar-second #calendar-enclosure h3  {
    background-image: url("../images/box-title.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    height: 41px;
    line-height: 41px;
    padding-left: 10px;
    text-transform: uppercase;
}

.region-sidebar-second #calendar-enclosure h3 a{
    color: white;
    font-size: 20px;
    height: 41px;
    line-height: 41px;
    padding-left: 10px;
    text-transform: uppercase;
    margin: 0;
}

.region-sidebar-second #calendar-enclosure table{
    border-left: 1px solid #696559;
    border-right: 1px solid #696559;
    margin: 0;
    padding: 10px 0;
}

.region-sidebar-second #calendar-enclosure table .days{
    color: #2D2C28;
    border: none;
    background: transparent;
    padding-top: 5px;
}

.region-sidebar-second #calendar-enclosure table td {
    text-align: center;
}

.region-sidebar-second #calendar-enclosure table td {
    text-align: center;
}

.region-sidebar-second #calendar-enclosure table td .mini-day-off a{
    color: #2D2C28;
}

.region-sidebar-second #calendar-enclosure table td .mini-day-on a{
    color: #A90101;
    text-decoration: inherit;
}

.region-sidebar-second #calendar-enclosure table td .mini-day-on a:hover{
    text-decoration: underline;
}

.region-sidebar-second #calendar-enclosure table td.today{
    background: #696559;
    border-radius: 5px;
}

.region-sidebar-second #calendar-enclosure table td.today a{
    color: white;
}

.region-sidebar-second #calendar-enclosure .view .date-nav-wrapper .date-prev a,
.region-sidebar-second #calendar-enclosure .view .date-nav-wrapper .date-next a{
    color: white;
}