/* 
    Document   : calendar
    Created on : Nov 21, 2012, 4:56:47 PM
    Author     : youngdr
    Description:
        Purpose of the stylesheet follows.
*/

td.single-day,
td.date-box{
    border: 1px solid #CCCCCC;
}

#calendar-enclosure{
    float: left;
    width: 710px;
}

#calendar-enclosure.preview{
    float: none;
}

li.calendar-date{
    text-transform: uppercase;
}
#upcoming-events a{
    color: #2D2C28;
    opacity: 1.0;
    font-size: 1em;
}

#calendar-enclosure h2{
    margin-top: 0px;
}

#calendar-enclosure .subheader{
    text-transform: uppercase;
}

#calendar-enclosure .indent{
    padding-left: 25px;
}

#calendar-enclosure.editable .indent{
    padding-left: 50px;
}
#calendar-enclosure .edit-button-icon{
    float: left;
    margin: 10px 0 0 5px;
}

#calendar-enclosure .trailing{
    margin-bottom: 20px;
}

#nav-previous-event,
#nav-following-event{
    margin-top: 6px;
}

#nav-previous-event{
    float: left;
}

#nav-following-event{
    float: right;
}

#nav-previous-event a,
#nav-following-event a{
    font-size: x-large;
    font-weight: bold;
}

#calendar-enclosure .calendar-calendar .month-view .full tr td.today,
#calendar-enclosure .calendar-calendar .month-view .full tr.odd td.today,
#calendar-enclosure .calendar-calendar .month-view .full tr.even td.today {
    background: none repeat scroll 0 0 transparent;
    border-left: 2px solid #A90101;
    border-right: 2px solid #A90101;
}

#calendar-enclosure .calendar-calendar .month-view .full td.date-box.today {
    border-color: #A90101;
    border-style: solid;
    border-width: 2px 2px 0;
}

#calendar-enclosure .calendar-calendar .month-view .full tr td.single-day.today {
    border-bottom: 2px solid #A90101;
}

#calendar-enclosure .calendar-calendar td .inner div.day a {
    color: #2D2C28;
}

#calendar-enclosure .calendar-calendar td .inner div.day.empty a {
    color: #696559;
    opacity: 0.65;
}

#calendar-enclosure .calendar-calendar td.today .inner div.day a {
    color: #A90101;
}

#calendar-enclosure .calendar-calendar .month-view .full td.single-day div.monthview,
#calendar-enclosure .calendar-calendar .week-view .full td.single-day div.weekview,
#calendar-enclosure .calendar-calendar .day-view .full td.single-day div.dayview {
    background: none repeat scroll 0 0 #FFFFFF;
}

#calendar-enclosure .calendar-calendar .week-view .full div.single-day div.weekview,
#calendar-enclosure .calendar-calendar .day-view .full div.single-day div.dayview {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    padding: 0 3px;
    width: auto;
}

#calendar-enclosure .calendar-calendar td span.date-display-single,
#calendar-enclosure .calendar-calendar td span.date-display-start,
#calendar-enclosure .calendar-calendar td span.date-display-end,
#calendar-enclosure .calendar-calendar td span.date-display-separator {
    font-weight: inherit;
}

#calendar-enclosure .view .date-nav-wrapper .date-prev {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0;
    float: left;
    font-size: 12px;
    left: auto;
    padding: 5px 0;
    position: static;
    right: auto;
    text-align: left;
    top: 0;
    width: auto;
    z-index: 1;
}

#calendar-enclosure .view .date-nav-wrapper .date-next {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0;
    float: right;
    font-size: 12px;
    padding: 5px 0;
    position: static;
    right: auto;
    text-align: left;
    top: 0;
    width: auto;
    z-index: 1;
}


#calendar-enclosure .view .date-nav-wrapper .date-prev a,
#calendar-enclosure .view .date-nav-wrapper .date-next a{
    font-size: x-large;
}

#calendar-enclosure .item-list ul.pager {
    padding-right: 0px;
}

/* alterations to forms on page */
.node-ebms_event-form .form-type-date-popup label{
    margin: auto;
}

.node-ebms_event-form fieldset.filter-wrapper{
    border: 0;
}

.date-nav {
    padding-bottom: 0px;
}

#calendar-enclosure .date-heading{
    z-index: -1;
}

#calendar-enclosure .button{
    margin: 0 0 10px 5px;
    display: inline-block;
    width: auto;
}

.region-sidebar-second #calendar-enclosure{
    width: 302px;
    margin: 20px 0px 13px 27px;
    padding-left: 0;
}

.region-sidebar-second #calendar-enclosure .pager,
.region-sidebar-second #calendar-enclosure .date-nav{
    margin: 0px;
}

.region-sidebar-second #calendar-enclosure h3  {
    background-image: url("../images/box-title.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    height: 41px;
    line-height: 41px;
    padding-left: 10px;
    text-transform: uppercase;
}

.region-sidebar-second #calendar-enclosure h3 a{
    color: white;
    font-size: 20px;
    height: 41px;
    line-height: 41px;
    padding-left: 10px;
    text-transform: uppercase;
    margin: 0;
}

.region-sidebar-second #calendar-enclosure table{
    border-left: 1px solid #696559;
    border-right: 1px solid #696559;
    margin: 0;
    padding: 10px 0;
}

.region-sidebar-second #calendar-enclosure table .days{
    color: #2D2C28;
    border: none;
    background: transparent;
    padding-top: 5px;
}

.region-sidebar-second #calendar-enclosure table td {
    text-align: center;
}

.region-sidebar-second #calendar-enclosure table td {
    text-align: center;
}

.region-sidebar-second #calendar-enclosure table td .mini-day-off a{
    color: #2D2C28;
}

.region-sidebar-second #calendar-enclosure table td .mini-day-on a{
    color: #A90101;
    text-decoration: inherit;
}

.region-sidebar-second #calendar-enclosure table td .mini-day-on a:hover{
    text-decoration: underline;
}

.region-sidebar-second #calendar-enclosure table td.today{
    background: #696559;
    border-radius: 5px;
}

.region-sidebar-second #calendar-enclosure table td.today a{
    color: white;
}

.region-sidebar-second #calendar-enclosure .view .date-nav-wrapper .date-prev a,
.region-sidebar-second #calendar-enclosure .view .date-nav-wrapper .date-next a{
    color: white;
}

#left-nav #upcoming-events{
    margin: 30px 10px;
}

#left-nav .view-display-id-block_upcoming .view-content{
    border-left: 1px solid #696559;
    border-right: 1px solid #696559;
}

#left-nav .view-display-id-block_upcoming li{
    border: none;
    padding-bottom: 0;
}

#left-nav .view-display-id-block_upcoming .item-list{

}

#left-nav .view-display-id-block_upcoming .item-list ul{

    margin: 0;
}

#left-nav .view-display-id-block_upcoming .item-list + .item-list{
    border-top: 1px solid #696559;
}

#left-nav .view-header h3 {
    background-image: url("../images/left-nav-box-title.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    height: 41px;
    line-height: 41px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 10px;
    text-transform: uppercase;
}

#left-nav .item-list h3{
    color: #2D2C28;
    font-family: Arial,Verdana,sans-serif;
    font-size: 16px;
    font-weight: normal;
    
    margin: 0 0 10px 0;
    padding: 10px 10px 0 10px;
}

#left-nav .ebms-left-nav-block-bottom{
    height: 7px;
    margin-top: -20px;
}