/* $Id$ */

/* GENERAL SETTINGS */
* {
    font-family: Arial, Verdana, sans-serif;
    color: #2d2c28;
    font-weight: normal;
    font-size: 16px;
}
body { margin: 0; }
img { border: none; }
strong { font-weight: bold; }
a { color: inherit; text-decoration: none; }
a:focus, li a:hover, a:hover, div.breadcrumb a:hover,
a:focus span, a:hover span {
    color: #a90101; text-decoration: underline;
}
h3.collapsed a:focus, h3.collapsed a:hover,
h3.expanded a:focus, h3.expanded a:hover,
a.expanded:focus, a.expanded:hover,
a.collapsed:focus, a.collapsed:hover { text-decoration: none; }
div.links { margin: 10px 0px; }

li.active a:hover,
li.active a:focus,
li.inactive a:hover,
li.inactive a:focus{ text-decoration: none; }
h2, h3 {
    text-transform: uppercase;
    padding-left: 11px; padding-right: 11px;
}
h2 {
    font-size: 20px;
    border-bottom: 1px #696559 solid;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 9px;
    margin-top: 0px;
}
h2 + h2 { margin-top: 35px; }
h2.end-of-short-page { margin-bottom: 300px; }
h2.low-key { font-size: 16px; }
h2.low-key a { font-weight: bold; }
h3 {
    font-size: 16px;
    color: #a90101;
    margin-top: 10px; margin-bottom: 10px;
}
h3 a, a.expanded { color: #2d2c28; }
/*
h3.expanded, h3.expanded a { color: #a90101; }
h3.expanded a span { color: #2d2c28; }
h3.expanded a:hover span { color: #a90101; }
*/
h3.expanded a span, a.expanded span, span.expanded { color: #a90101; }

.pad-top-10 { padding-top: 10px; }
.left-indent { padding-left: 11px; }
.nobreak { white-space: nowrap; }
.float-left { float: left; }
.float-right { float: right; }
.float-clear { clear: both; }
/*
 * This next bit is a trick to avoid problems caused by the fact that
 * CSS collapses the height of a block which contains only floated
 * elements, which kills the effectiveness of setting margin-top on
 * the block which follows.  We stick in a <div> as the last element
 * in the first block, with only a period as the text content, and with
 * the class set to non-float.
 *
 * Cf. http://css-tricks.com/all-about-floats/
 */
.non-float { color: white; font-size: 1px; clear: both; }

/* slightly enhanced, universal clearfix hack 
from http://perishablepress.com/lessons-learned-concerning-the-clearfix-css-hack

the childfix class is meant to apply clearfix to all child elements,
useful in the case of a Drupal form element that would otherwise
disallow applying a class directly to a desired sub-element.
*/
.childfix>*:after,
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: ".";
     clear: both;
     height: 0;
     }
.childfix>*,
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .childfix>*,
* html .clearfix { height: 1%; }
.childfix>*,
.clearfix { display: block; }
/* close commented backslash hack */

/* Suppress Drupal's title for the page */
h1#page-title { display: none; }

p { padding-left: 11px; padding-right: 11px; }
td { vertical-align: top; }
ul.no-bullets { list-style-type: none; }
ul.no-bullets li { margin-left: 12px; margin-bottom: 12px; }

/* Center the content with a fixed width of 960 pixels */
#header div.section,
#banner div.section,
#breadcrumb,
#login-image-wrapper,
#main-wrapper,
#footer div.section,
#message-wrapper {
    margin-left: auto; margin-right: auto; width: 960px;
}
#message-wrapper div.status { margin-bottom: 30px; }
.button { border: solid 1px #696559; border-radius: 7px; padding: 7px; }
.button { text-transform: uppercase; }
.button:hover { border-color: #a90101; color: #a90101; text-decoration: none; }
.button:hover * { text-decoration: none; }

/* STATUS AND ERROR MESSAGES */
body.not-logged-in div.messages { margin-top: 30px; }
div.messages {
    margin-left: 11px; width: auto; border-radius: 7px;
    border: 3px solid #be7; 
    background-image: none; padding-left: 12px; padding-right: 12px;
}
div.messages.error {
    background-color: #fad2d2; color: #2d2c28;
    border: 3px solid #d2817d;
}

/* BANNER */
#banner {
    background-color: #f2f1f1;
    background-image: url("../images/nci-banner-bg.gif");
    background-repeat: repeat-x;
    height: 39px;
}
#banner img { margin: 0; float: none; }
#banner div.section div { line-height: 40px; color: white; }
#banner a:hover { color: white; text-decoration: none; }

/* HEADER */
#header { height: 120px; }
#name-and-slogan { float: left; margin-left: 10px; }
#site-name { margin-top: 28px; }
#site-name a { font-size: 36px; }
#site-name a:hover { text-decoration: none; }
#site-slogan { line-height: 16px; font-size: 20px; }
#user-profile {
    float: right;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 30px;
    padding-right: 0px;
}
#user-photo { display: inline; position: relative; padding-right: 10px; }
#user-photo #picture { position: relative; top: 15px; }
#user-photo #picframe { position: absolute; top: -15px; left: 0;}
#user-name {
    display: inline; padding-right: 18px; border-right: solid 1px #696559;
}
#profile-and-logout { display: inline; position: relative; }
#profile-and-logout-marker { margin: 0 12px; font-size: .8em; }
#profile-and-logout-menu {
    list-style-type: none;
    position: absolute; top: -35px; right: -53px;
    width: 207px; height: 145px;
    background-image: url("../images/profile-logout-bg.png");
    background-repeat: no-repeat;
    z-index: 2000;
    top: -9999em;
}
#profile-and-logout:hover #profile-and-logout-menu { top: -35px; }
#profile-and-logout-menu a {
    font-size: 14px; position: relative;
    right: 70px;
    text-align: right;
}
#profile-and-logout-menu a { position: absolute; }
#profile-and-logout a:hover { text-decoration: none; }
#profile-link { top: 75px; }
#logout-link { top: 105px; }

/* NAVIGATION */
#nav { border-top: solid #696559 1px; border-bottom: solid #696559 1px; }
#nav { margin-bottom: 20px; }
#nav * { margin: 0; padding: 0; }
#nav div.section { margin: 0 auto; height: 43px; }
#nav div.section { width: 1013px; }
#nav.manager div.section { width: 975px; padding-left: 11.5px; }
#nav.manager.admin div.section { width: 975px; padding-left: 10px; }
#ebms-menu, .ebms-submenu { list-style-type: none; }
#ebms-menu, #ebms-menu li { float: left; }
#ebms-menu li, #ebms-menu a { position: relative;}
#ebms-menu > li > a { text-decoration: none; }

#ebms-menu > li > a {
    font-size: 20px; text-transform: uppercase; line-height: 19px;
    padding-top: 12px; padding-bottom: 12px;
}
#ebms-menu > li.active > a { color: #a90101; }
#nav #ebms-menu a { padding-left: 35px; padding-right: 35px; }
#nav.manager #ebms-menu a {
    padding-left: 11px; padding-right: 12px; font-size: 17px;
}
#nav.manager.admin #ebms-menu a {
    padding-left: 10px; padding-right: 12px; font-size: 15px;
}
#nav.librarian #ebms-menu a { padding-left: 25px; padding-right: 25px; }
#ebms-menu li li a {
    font-size: 17px; text-transform: none; line-height: 18px;
    background-color: white;
    border-left: #696559 1px solid; border-right: #696559 1px solid;
    padding-top: 8px; padding-bottom: 8px;
}
#ebms-menu li li.first a { padding-top: 15px; }
#ebms-menu li li.last a { padding-bottom: 20px; }
.ebms-submenu li.first a { border-top: 1px solid #696559; }
.ebms-submenu li.last a {
    border-bottom: 1px solid #696559;
    border-bottom-left-radius: 7px; border-bottom-right-radius: 7px;
}
#ebms-menu li:hover > ul, #ebms-menu li.sfHover > ul,
#ebms-menu ul li.sfHhover > ul { top: 43px; }
.ebms-menu-border-blur {
    position: absolute; width: 100%; height: 0px; border: none;
    bottom: -1px; z-index: 3000;
}
.ebms-menu-restore-pixel {
    position: absolute; width: 1px; height: 0px; border: none;
    bottom: -1px; z-index: 3000;
}
#ebms-menu li:hover > .ebms-menu-border-blur,
#ebms-menu li.sfHover > .ebms-menu-border-blur {
    border-bottom: solid white 1px;
}
#ebms-menu li:hover > .ebms-menu-restore-pixel,
#ebms-menu li.sfHover > .ebms-menu-restore-pixel {
    border-bottom: solid #696559 1px;
}

.ebms-menu-left-divider, .ebms-menu-right-divider {
    position: absolute; width: 0; height: 18px; top: 12px;
    border-left: solid #696559 1px;
}
.ebms-menu-right-divider { right: -1px; }
li.first .ebms-menu-left-divider { border-left-color: white; }
li.last .ebms-menu-right-divider { border-left-color: white; }
li.sfHover .ebms-menu-left-divider, li.sfHover .ebms-menu-right-divider,
li:hover .ebms-menu-left-divider, li:hover .ebms-menu-right-divider {
    top: 0; height: 43px; border-left-color: #696559;
}

/* LEFT NAV */
#left-nav { float: left; width: 210px; margin-right: 20px; }
#left-nav li {
    border-bottom: 1px #696559 solid; list-style-type: none; margin: 10px;
    padding-bottom: 10px; 
}
#left-nav li.active { border-bottom: 1px #a90101 solid; }
#left-nav li.inactive{ opacity: 0.75; }
#left-nav a {
    text-transform: uppercase;
}
#left-nav li.inactive a {
    color: #696559; opacity: .75;
}

#left-nav li.active:hover, 
#left-nav li.inactive:hover{ border-color: #a90101; }

#left-nav li.active:hover, 
#left-nav li.inactive:hover,
#left-nav li.active:hover a,
#left-nav li.inactive:hover a{ color: #a90101; opacity: 1.0;}
#left-nav li.active a { color: #a90101; opacity: 1; font-weight: bold; }

/* clear interfering styling from above*/
#left-nav .nav-block h3,
#left-nav .nav-block ul,
#left-nav .nav-block li,
#left-nav .view-content h3,
#left-nav .view-content ul,
#left-nav .view-content li{
    margin: 0;
    padding: 0;
    border: 0;
}

#left-nav .nav-block,
#left-nav > .view {
    margin: 30px 10px;
}

#left-nav .nav-block h3,
#left-nav .view-header * {
    background-image: url("../images/left-nav-box-title.png");
    background-repeat: no-repeat;
    color: white;
    height: 41px;
    line-height: 41px;
    margin: 0;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#left-nav .nav-block .footer,
#left-nav .view-footer * {
    background-image: url("../images/left-nav-box-bottom.png");
    background-repeat: no-repeat;
    height: 7px;
    line-height: 7px;
    margin: 0;
    padding: 0;
}

#left-nav .nav-block .actions,
#left-nav .view-content,
#left-nav .view-empty{
    border-left: 1px solid #696559;
    border-right: 1px solid #696559;
    padding: 0 10px 10px;
}

.ebms-block .view-empty{
    border-left: 1px solid #696559;
    border-right: 1px solid #696559;
    padding: 10px;
}

.ebms-block .view-empty > *,
#left-nav .view-empty > *{
    margin: 0;
    padding: 10px 0 0;    
}

#left-nav .view-content h3{
    color: #2D2C28;
}

#left-nav .nav-block li,
#left-nav .view-content .item-list,
#left-nav .view-content li{
    padding-top: 10px;
}

#left-nav .nav-block li .line-icon{
    padding: 0 5px 0 0;
}

#left-nav .view-content .item-list + .item-list{
    border-top: 1px solid #696559;
    margin-top: 10px;
}
#left-nav .child { margin-left: 25px; }
#left-nav li.child a { font-size: 14px; }
#left-nav li.parent a { font-size: 16px; }
#left-nav li.parent.open a { opacity: 1; color: #2d2c28; }
#left-nav li.parent.open a:hover { color: #a90101; }

/* BREADCRUMBS */
#breadcrumb {
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-left: 20px;
}
div.breadcrumb, div.breadcrumb a { font-size: 12px; color: #2d2c28; }

/* CONTENT */
.content{
    margin-top: 20px;
}

/* TABLES */
table { width: 100%; }
tbody { border: none; }
th { text-transform: uppercase; border: none; }
th, td { margin: 0; border-left: 1px solid #696559; padding: 10px; }
th:first-child, td:first-child, tr.event, tr.odd { border: none; }
td.active, th.active { background: white; }
th a:hover, th a:hover span { text-decoration: none; }

/* TABLE PAGER */
.item-list ul.pager { margin: 20px 0; text-align: right; padding-right: 12px; }
.item-list ul.pager li { margin: 0 2px; padding: 0 1px; }
.item-list ul.pager li.pager-current,
.item-list ul.pager li.pager-current a
.item-list ul.pager li.pager-current a.active {
    color: #a90101; font-weight: normal;
}
.item-list ul.pager li a.active { color: #2d2c28; }
.item-list ul.pager li a.active:hover,
.item-list ul.pager li a:hover { color: #a90101; }
#pager-view-pages { text-align: right; margin: 20px 12px; }

table span.tablesort-indicator { padding-left: 10px; font-size: .9em; }
table span.tablesort-indicator:hover { color: #a90101; }

/* FORMS */
select { border-radius: 7px; background: white; }
.form-type-textfield input, .form-type-password input {
    border: solid 1px #696559;
    border-radius: 5px;
    background-color: white !important;
    color: #2d2c28;
}

/* Let's simplify this, and suppress Chrome's extra border.
input:focus, input:hover, select:focus, select:hover,
.form-type-textarea textarea:focus, .form-type-textarea textarea:hover,
.form-type-textfield input:focus, .form-type-textfield input:hover,
.form-type-password input:focus, .form-type-password input:hover
{ border-color: #a90101; }
*/
input:hover, textarea:hover,
input:focus, textarea:focus { border: #a90101 1px solid; outline: none; }

input.form-submit:focus, input.form-submit:hover { color: #a90101; }

/* Have to separate this, or Firefox ignores the rules for the others */
input:-webkit-autofill {
    border: solid 1px #696559;
    border-radius: 5px;
    background-color: white !important;
    color: #2d2c28;
}
.form-item > label, .form-textarea-wrapper, .form-wrapper > legend > .fieldset-legend {
    margin-left: 12px; 
}
.form-item .form-file { margin-left: 11px; }
.form-item > label,
.form-wrapper > legend > .fieldset-legend {
    margin-bottom: 2px; color: inherit; margin-top: 35px;
    text-transform: uppercase; padding-top: 0; padding-bottom: 0;
    font-size: 16px;
}

.form-wrapper > legend {
    margin-top: 0px;
    font-weight: bold;
    display: block;
}

.form-wrapper > legend > .fieldset-legend {
    margin-top: 0px;
    font-weight: bold;
    display: block;
}

.form-item div.description,
.fieldset-wrapper div.fieldset-description {
    margin-top: 0; padding-left: 11px; font-size: 12px; font-style: italic;
    text-transform: none; margin-bottom: 11px; padding-top: 0;
    line-height: 10px;
}
.form-item label.option { text-transform: none; margin-left: 5px; }
.form-type-textfield input { margin-left: 0; }
.form-textarea {
    margin: 0 5px 25px 12px; height: 100px;
    border-radius: 7px; border: 1px solid #696559; padding: 5px;
}
.form-submit, #edit-submit {
    padding: 14px; background-color: white; border-radius: 7px;
    margin: 12px; text-transform: uppercase;
    border: 1px solid #696559; font-size: 16px; border-spacing: 0;
    margin-top: 30px;
}
#edit-submit:hover, #edit-submit:focus {
    border: 1px solid #a90101; color: #a90101;
}
input.form-text { width: 100%; }


form .form-radios, form .form-checkboxes {
    margin-top: 30px; margin-left: 12px;
}
form .form-radios:not(#foo), form .form-checkboxes:not(#foo) {
    margin-top: 30px; margin-left: 12px;
}
form .form-type-radio:not(#foo), form .form-type-checkbox:not(#foo) {
    display: block; position: relative; overflow: hidden;
}
form .form-radio:not(#foo), form .form-checkbox:not(#foo)  {
    height: 22px; width: 22px; float: left;
    position: absolute; left: 12px; bottom: 0; opacity: 0;
}
form .form-item.form-type-radio:not(#foo) label,
form .form-item.form-type-checkbox:not(#foo) label {
    background-image: url("../images/checkbox-unchecked.png");
    background-repeat: no-repeat;
    float: left; line-height: 22px; padding: 0 25px 0 35px;
    margin: 0 0 5px 0;
}
form .form-type-radio:not(#foo) input.form-radio:checked + label,
form .form-type-checkbox:not(#foo) input.form-checkbox:checked + label {
    background-image: url("../images/checkbox-checked.png");
}
.popup .form-submit, .popup #edit-submit { margin: 12px 0; }

/* POPUP FORM FOR FILE UPLOAD */
#file-upload-form-js label, #member-packet input { display: block; }
#file-upload-form-js div#choose-file input#filepath,
#file-upload-form-js div#choose-file div { cursor: pointer; }
#file-upload-form-js #choose-file div:hover { color: #a90101; }
#file-upload-form-js #choose-file label:hover { cursor: pointer; }
#file-upload-form-js #choose-file input#filepath {
    cursor: pointer; font-size: .1px;
}
#choose-file, #add-notes { padding-top: 17px; }
#file-upload-form-js { display: none; }
#file-upload-form-js #choose-file { position: relative; }
#file-upload-form-js #choose-file label {
    z-index: 1000; position: absolute; left: 8px; top: 0; margin-top: 20px;
}
#file-upload-form-js #filename { padding: 10px 0 0 14px; }
#file-upload-form-js #filenotes {
    display: none; border: 1px solid #a90101;
    width: 760px; height: 75px; margin-top: 10px; font-size: 11pt;
    border-radius: 5px; resize: none; overflow: auto;
}
#file-upload-form-js #add-notes label {
    font-weight: normal; margin-left: 14px; margin-top: 15px;
}
#file-upload-form-js #charcount {
    display: none; text-align: right; padding-top: 2px; margin-top: 0
}
#file-upload-form-js #choose-file #filepath {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=0); opacity: 0;
    position: absolute; left: 0; top: 0;
    width: 300px; height: 20px;
    margin-top: 20px;
    z-index: 1000;
    zoom: 1;
}
#file-upload-form-js #upload-file.form-submit {
    padding: 0; margin: 10px 12px 20px 12px; border: none;
}
#upload-file.form-submit:hover { color: #a90101; }

/* FOOTER */
#footer {
    height: 120px;
    background-color: #696559;
    margin-top: 50px;
    clear: both;
}
body.not-logged-in #footer { margin-top: 150px; }
#footer div.section {
    text-align: center;
    color: white;
    line-height: 60px;
    font-weight: normal;
    font-size: 14px;
}
#footer a { padding-left: 8px; padding-right: 8px; color: white; }

/* JQUERY UI DIALOG */
span.ui-dialog-title { color: white; padding-left: 14px; }
div.ui-dialog { padding: 0; }
div.ui-dialog { border-radius: 12px; border-color: #696559; }
div.ui-dialog { border: black solid 1px; }
div div.ui-dialog-titlebar.ui-corner-all {
    background: #696559; border-radius: 10px 10px 0 0; border: 0;
}
a.ui-dialog-titlebar-close.ui-corner-all { color: white; }
a.ui-dialog-titlebar-close:hover { color: #a90101; }
.ui-widget-header { background-color: #696559; }
.ui-widget-header .ui-icon {
    background-image: url("../images/dialog-close-white.gif");
    background-color: #2d2c28;
    background-position: 0px 0px;
    border: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover, .ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus { background: #696559; }
.ui-dialog-titlebar-close.ui-state-hover { border: none; }
.ui-widget-header .ui-state-hover .ui-icon {
    background-image: url("../images/dialog-close-red.gif");
    border: 0px #2d2c28 none;
}
.ui-widget-overlay { background: #2d2c28; opacity: .55; }
.ui-dialog .ui-dialog-buttonpane { border: none; }

/* LOGIN */
#login-image-wrapper img { padding-left: 12px; }
#pdq-ebms-login-form { padding-left: 12px; }
#pdq-ebms-login-form h2 { display: none; }
#pdq-ebms-login-form label {
    text-transform: uppercase;
    padding-left: 5px;
    margin-left: 0;
}
#pdq-ebms-login-form #edit-submit { margin-left: 0; }
#pdq-ebms-login-form #edit-name, #pdq-ebms-login-form #edit-pass {
    width: 400px; 
}
#pdq-ebms-login-form #forgot-password a {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0;
    padding-left: 12px;
    padding-top: 0;
    line-height: 10px;
    height: 17px;
}
#pdq-ebms-login-form input#edit-pass.form-text { margin-bottom: 0 }
#pdq-ebms-login-form div.form-type-password { margin-bottom: 0; }

/* PASSWORD RESET FORM */
#pdq-ebms-password-form #edit-forgot.form-radios { margin-top: 10px; }
#pdq-ebms-password-form #edit-forgot.form-radios .form-type-radio {
    display: inline; margin-left: 8px;
}
#pdq-ebms-password-form .form-radios label { padding: 0 30px; }
#pdq-ebms-password-form #edit-forgot { margin-top: 15px; }
#pdq-ebms-password-form .form-radios label,
#pdq-ebms-password-form #edit-forgot-both { left: -10px; }
#pdq-ebms-password-form div.form-item-email input#edit-email {
    margin-left: 11px; width: 335px;
}
#pdq-ebms-password-form div.form-item-email {
    clear: both; margin-bottom: 2px;
}
#pdq-ebms-password-form div.form-item-email input { margin-top: 30px; }
#pdq-ebms-password-form p {
    margin-top: 5px; font-style: italic; font-size: 12px;
}

#forgot-password-form-js { padding-right: 0; }
#forgot-password-form-js .form-type-radios > label { margin-top: 20px; }
#forgot-password-form-js { display: none; padding-bottom: 30px; }
#forgot-password-form-js #edit-email.form-text { margin-top: 25px; }
#forgot-password-form-js .form-submit { margin-top: 20px; }
#forgot-password-form-js .form-type-radio.form-item-forgot:not(#foo)
#edit-forgot-both + label { padding-right: 0; }

#edit-forgot .form-type-radio.form-item-forgot:not(#foo) label {
    padding-right: 10px;
}

/* BLOCK FORMATTING */
.ebms-block { margin: 20px 20px 13px 0px; width: 302px; float: left; }
.ebms-block h3, .ebms-block-title {
    background-image: url("../images/box-title.png"); color: white;
    background-repeat: no-repeat; height: 41px; text-transform: uppercase;
    font-size: 20px; padding-left: 10px; line-height: 41px;
}
.ebms-block table { width: 302px; }
.ebms-block h3 { margin-bottom: 0; margin-top: 0; }
.ebms-block ul, .ebms-block table, .ebms-block-body {
    border-left: 1px #696559 solid; border-right: 1px #696559 solid;
    padding: 10px 0; margin: 0;
}
.ebms-block ul { list-style-type: none; }
.ebms-block ul li { margin-left: 12px; padding-bottom: 8px; }
.ebms-block-body p {
    margin: 0; padding: 8px 12px; font-size: 16px;
}
.ebms-block-body p a { font-size: 16px; }
.ebms-block-bottom { margin: 0; padding: 0; border: none; display: block; }

#activity-enclosure.ebms-block p{
    margin: 0;
    padding: 0;
}

/* HOME PAGE */
body.front div.region-content {
    float: left; margin: 0 0 50px 0; padding-right: 0;
}
body.front div.block-ebms {
    width: 302px; float: left;
}
.ebms-featured-block {
    height: 450px; width: 630px; position: relative;
    margin: 20px 0 13px 0;
}
.ebms-featured-block a:hover { text-decoration: underline; }
.ebms-featured-block div { position: relative; }
.ebms-featured-block h3 {
    line-height: 16px; padding: 1px 0; margin: 0;
    color: #2d2c28; font-weight: normal;
    text-transform: uppercase; font-size: 18px; margin-bottom: 1px; 
}
.ebms-featured-block div.item-list { width: 310px; }
.ebms-featured-block div.item-list ul { list-style-type: none; }
.ebms-featured-block div.item-list ul li {
    margin-left: 0; margin-bottom: 0; height: 16px;
}
.ebms-featured-block div.item-list ul li a {
    line-height: 7px; font-size: 12px;
}
.ebms-featured-block div { z-index: 2; }
.ebms-featured-block img { position: absolute; z-index: 1; }
#featured-admin-1 div { left: 30px; top: 308px; }
#featured-admin-2 div { left: 120px; top: 308px; }
#featured-admin-3 div { left: 210px; top: 308px; }
#featured-admin-4 div { left: 320px; top: 308px; }
#featured-member-1 div { left: 20px; top: 308px; }
#featured-member-2 div { left: 120px; top: 308px; }
#featured-member-3 div { left: 220px; top: 308px; }
#featured-librarian-1 div { left: 30px; top: 325px; }
#featured-librarian-2 div { left: 135px; top: 325px; }
#featured-librarian-3 div { left: 235px; top: 325px; }

/* Positioning for home page sidebar blocks */
#sidebar-second .ebms-block {
    margin-left: 27px; padding-left: 0; margin-right: 0;
}

/* Align middle box with right edge of the main home page panel */
body.front .middle-block { float: right; margin-right: 0; padding: 0; }

/* Custom formatting for the "alerts" box */
body.front #alerts h3, body.front #alerts li { position: relative; }
body.front #alerts h3 .alert-count { color: white; background-color: #696559; }
body.front #alerts .alert-count { position: absolute; right: 20px; }
body.front #alerts li .alert-count {
    position: absolute; right: 20px; color: #a90101;
}
body.front #alerts li a { text-transform: uppercase; font-size: 20px; }
body.front #alerts li.last { margin-bottom: 0; padding-bottom: 0; }

/* Monthly calendar formatting for home page */
body.front #calendar { position: relative; margin-bottom: 10px; }
body.front #calendar table { border-collapse: collapse; }
body.front #cal-prev-month, body.front #cal-next-month {
    position: absolute;
    top: 10px;
    color: white;
    font-size: 20px;
}
body.front #calendar tr.odd { background-color: white; }
body.front #cal-prev-month { left: 15px; }
body.front #cal-next-month { right: 15px; }
body.front #calendar .ebms-block-title { text-align: center; }
body.front #calendar td {
    width: 38px; text-align: center; line-height: 27px; border: none;
    padding: 0px;
}
body.front #calendar td.not-this-month { color: #adaca8; }
body.front #calendar td.day-has-events { color: #a90101; }
body.front #calendar #dow td { line-height: 25px; }
body.front #calendar td.today {
    color: white; font-weight: bold;
    background-image: url("../images/today.png");
    background-repeat: no-repeat;
}

/* calendar view-specific styling */
.calendar-calendar .week-view .full div.single-day .inner,
.calendar-calendar .day-view .full div.single-day .inner{
    z-index: auto;
}

.calendar-calendar .week-view div.single-day .view-item,
.calendar-calendar .day-view div.single-day .view-item {
    z-index: auto;
}

.calendar-calendar .week-view div.single-day .half-hour,
.calendar-calendar .day-view div.single-day .half-hour {
    z-index: auto;
}

.calendar-calendar .month-view .full .inner .monthview,
.calendar-calendar .week-view .full .inner .weekview,
.calendar-calendar .day-view .full .inner .dayview {
    z-index: 1;
}

.calendar-calendar .week-view .full div.single-day div.weekview,
.calendar-calendar .day-view .full div.single-day div.dayview {
    border: 1px solid #A90101;
}

.calendar-calendar .month-view .full td.single-day .calendar-empty,
.calendar-calendar .month-view .full td.single-day.empty,
.calendar-calendar .month-view .full td.date-box.empty {
    background-color: #FFFFFF;
}

.view .date-nav-wrapper .date-heading h3 {
    color: #2D2C28;
}

.calendar-calendar th,
.calendar-calendar th.days {
    background-color: #696559;
    color: #FFFFFF;
    border: none;
}

.calendar-calendar td.empty .inner {
    position: relative;
    z-index: -1;
}

.calendar-calendar thead tr,
.calendar-calendar td,
.calendar-calendar td.empty {
    border: 1px solid #696559;
    border-color: rgba(105, 101, 89, 0.75);
}

.calendar-calendar td .inner div.day.empty a {
    color: #696559;
    opacity: 0.75;
}

.calendar-calendar td.mini,
.calendar-calendar td.mini.empty {
    border: none;
}

.calendar-calendar .month-view .full tr td.today,
.calendar-calendar .month-view .full tr.odd td.today,
.calendar-calendar .month-view .full tr.even td.today {
    background: none repeat scroll 0 0 transparent;
    border-left: 2px solid #A90101;
    border-right: 2px solid #A90101;
}

.calendar-calendar .month-view .full td.date-box.today {
    border-color: #A90101;
    border-style: solid;
    border-width: 2px 2px 0;
}

.calendar-calendar .month-view .full tr td.single-day.today {
    border-bottom: 2px solid #A90101;
}

.calendar-calendar td .inner div.day a {
    color: #2D2C28;
}

.calendar-calendar td .inner div.day a:hover,
.calendar-calendar td.today .inner div.day a {
    color: #A90101;
}

/* Special handling for Next Meeting block */
body.front #next-meeting li { line-height: 24px; }
body.front #next-meeting span { font-weight: bold; }

/* Formatting for the Create Event form */
.file-widget input.form-file{
    display: block;
    margin: 0 0 20px 10px;

}

.file-widget input.form-submit,
.form-managed-file input.form-submit.progress-disabled{
    margin: 0 0 0 10px;
}

.form-type-managed-file div.description{
    line-height: 20px;
}

#ebms-event-node-form .form-wrapper {
    margin-top: 30px;
}

#ebms-event-node-form .form-item > label,
#ebms-event-node-form .form-wrapper > legend {
    margin-top: 20px;
}

#ebms-event-node-form .form-textarea-wrapper {
    margin-left: 0;
}
/*Added a parent class to make this more specific, .filter-wrapper seems very general*/
.text-format-wrapper .filter-wrapper{
    display: none;
}

#ebms-event-node-form fieldset.form-wrapper{
    border: none;
    margin: 0;
    padding: 0;
}

#ebms-event-node-form .date-padding {
    padding: 0;
    margin-top: 10px;
}

#ebms-event-node-form fieldset label {
    font-weight: normal;
}

#ebms-event-node-form fieldset .date-padding label {
    text-transform: none;
}

#ebms-event-node-form .form-type-date-popup label{
    margin: auto;
}

#ebms-event-node-form fieldset.filter-wrapper{
    border: 0;
}

#ebms-event-node-form .container-inline-date > .form-item{
    margin: 0;
}

#ebms-event-node-form .date-no-float {
    margin-top: 20px;
}

/* ALL MEMBER PACKETS */
#member-packets h3.h3-last { margin-bottom: 50px; }
#member-packets h3 { color: inherit; margin-bottom: 15px; margin-top: 5px; }

/* SINGLE MEMBER PACKET */
#member-packet .item-list ul { list-style-type: none; margin: 0 }
#member-packet .item-list ul li { margin-left: 0; padding-left: 12px; }
#member-packet #summary-links { padding-bottom: 19px; }
#member-packet #articles {
    width: 100%; margin-left: 11px; margin-right: 11px;
}
#member-packet #articles tbody { border: none; }
#member-packet #articles td { padding: 8px 0; border: 0; }
#member-packet #articles a { text-transform: uppercase; }
#member-packet #articles td.c1 { width: 730px; padding-right: 20px; }
#member-packet #articles td.c2 { padding-left: 15px; padding-top: 15px; }
#member-packet #articles td.c2 a {
    border: 1px solid #696559;
    border-radius: 7px; padding: 10px;
}
#member-packet #articles td.c2 a:hover { border: 1px solid #a90101; }

#member-packet h3.h3-last { margin-bottom: 50px; }
#member-packet h3 { margin-bottom: 15px; margin-top: 5px; }
#member-packet label h3 { margin-bottom: 5px; color: inherit; }
#member-packet h3.expanded a { color: #2d2c28; }
#member-packet h3.expanded a span { color: #a90101; }
#member-packet h3.expanded a:hover { color: #a90101; }

/* REVIEWER UPLOADS DISPLAY */
#reviewer-uploads tbody { border: none; }
#reviewer-uploads { width: 100%; padding-left: 0; padding-right: 11px; }
#reviewer-uploads table {
    border-collapse: collapse; margin-left: 11px; width: 100%;
    padding-top: 10px;
}
#reviewer-uploads tr {
    margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0;
    border: none;
}
#reviewer-uploads td { padding: 10px 0; }
#reviewer-uploads td.c1 { width: 58%; }
#reviewer-uploads td.c2 {
    width: 20%; border-left: 1px #696559 solid; padding-left: 20px;
}
#reviewer-uploads td.c3 {
    width: 22%; border-left: 1px #696559 solid; padding-left: 20px;
}
#main-right-panel #reviewer-post-button,
#reviewer-post-button { 
    float: right; 
    margin-right: 25px; 
    margin-bottom: 10px;
    margin-top: 0px;
}

#main-right-panel #reviewer-post-button{
    margin-right: 0px
}

/*#reviewer-post-button a {
    border: 1px solid #696559; border-radius: 7px; padding: 10px;
    text-transform: uppercase;
}
#reviewer-post-button a:hover { border: 1px solid #a90101; }*/
#post-document { margin-bottom: 15px; }
#member-packet #post-document { padding-right: 33px; }

/* MEMBER REVIEW FORM */
#member-review label h2 { margin-bottom: 2px; }

/* MANAGER PACKETS */
#manager-packets-page-title { position: relative; }
#manager-packets-page-title > a {
    display: block; position: absolute; right: 2px; top: -18px;
    border: solid 1px #696559; border-radius: 5px; padding: 10px;
}
#manager-packets-page-title > a:hover { border: solid 1px #a90101; }
#manager-packets-page-title > div {
    position: absolute; right: 150px; top: -18px; padding-top: 12px;
    padding-left: 8px;
}
#manager-packets-page-title #view-toggle-over {
    display: none; position: absolute; left: -4px; top: 0px; width: 122px;
    height: 88px;
}
#manager-packets-page-title #view-toggle-over {
    background-image: url("../images/manager-packets-view-bg.png");
    background-repeat: no-repeat; padding-top: 12px; padding-left: 12px;
}
#manager-packets-page-title #view-toggle-over span.view-toggle-arrow,
#manager-packets-page-title #view-toggle-over { color: #a90101; }

#manager-packets-page-title #view-toggle-over a {
    position: absolute; left: 12px; top: 55px; color: #2d2c28;
}
#manager-packets-page-title #view-toggle-over a:hover { color: #a90101; }
#manager-packets-view-toggle:hover #view-toggle-over { display: block; }

#manager-packets-table th.col-4 { width: 120px; }
#manager-packets-table span.action-divider { padding: 0 3px; }

#pdq-ebms-edit-packet-form #edit-name { margin-left: 12px; }
#pdq-ebms-edit-packet-form .form-item-all-reviewers input {
    margin-left: 12px;
}
#pdq-ebms-edit-packet-form:not(#foo) .form-item-all-reviewers input {
    display: none;
}
#pdq-ebms-edit-packet-form:not(#foo) .form-item-all-reviewers label {
    background: none;
    float: none;
    padding: 0 0 0 12px;
}
#pdq-ebms-edit-packet-form .form-item-all-reviewers label:hover,
#pdq-ebms-edit-packet-form .form-item-all-reviewers label:hover span {
    color: #a90101;
}
#pdq-ebms-edit-packet-form:not(#foo) .all-reviewers-visible { display: block; }
#pdq-ebms-edit-packet-form:not(#foo) .all-reviewers-hidden { display: none; }

form.confirmation a#edit-cancel {
    border: 1px solid #696559; border-radius: 7px; text-transform: uppercase;
    padding: 14px; margin-left: 30px;
}
form.confirmation a#edit-cancel:hover { border: 1px solid #a90101; }
#confirm-packet-delete { display: none; }
td.reviewers div { margin-bottom: 10px; }

/* USER PROFILE SETTINGS */
h2.tight-below { margin-bottom: 0px; }
#user-account-settings { margin-left: 12px; width: 948px; }
#user-account-settings td {
    border-left: none; border-bottom: 1px solid #696559;
    padding: 8px 8px 8px 0;
}
#user-account-settings td.c1 { width: 210px; padding-left: 0; }
#user-account-settings td.c2 { width: 670px; }
#user-account-settings td { vertical-align: top; }
#user-account-settings tr.picture-row td { padding-bottom: 200px; }
#user-account-settings tr.picture-row td { border-bottom: none; }
#user-account-settings #profile-picture-box { position: relative; }
#user-account-settings img { position: absolute; top: 5px; }

#user-account-settings #profile-form .form-type-textfield {
    margin: 0; padding: 0;
}
#user-account-settings #profile-form label {
    text-transform: none; display: inline; margin: 0; font-weight: normal;
    float: left; width: 210px; 
}
#user-account-settings #profile-form input.form-text {
    width: 400px; padding-left: 7px;
}
#user-account-settings #profile-form input:focus,
#user-account-settings #profile-form input:hover { border-color: #a90101; }
#user-account-settings #profile-form #buttons {
    text-align: right; padding-top: 15px;
}
#user-account-settings #profile-form .form-submit,
#user-account-settings #profile-form .form-submit:focus,
#user-account-settings #profile-form .form-submit:hover {
    margin: 0; padding: 0; border: 1px white solid;
}
#user-account-settings #profile-form .form-submit:focus,
#user-account-settings #profile-form .form-submit:hover { color: #a90101; }
#user-account-settings #profile-form #edit-submit { padding-right: 8px; }
#user-account-settings #profile-form #cancel-link {
    padding: 0 8px; text-transform: uppercase;
    border-left: solid 1px #696559; border-radius: 0;
}
#user-account-settings #profile-form #cancel-link:focus { color: #a90101; }

#user-account-settings #profile-form #password-fields label {
    width: 200px; line-height: 24px;
    text-align: right; padding-right: 10px;
}
#user-account-settings #profile-form .form-item-current { margin-top: 0; }
#user-account-settings #profile-form .form-item-new2 { margin-bottom: 0; }
#user-account-settings #profile-form #buttons.password-buttons {
    padding-top: 0;
}
#user-account-settings #profile-form #match-check { padding: 2px 0 0 212px; }

/* PROFILE PICTURE EDITING FORM */
#user-account-settings td.edit-picture-cell * { position: relative; }
#user-account-settings #picture-form-name {
    position: absolute; left: 0;
}
#user-account-settings td.edit-picture-cell #profile-picture-box {
    position: absolute; left: 210px;
}
#user-account-settings td.edit-picture-cell img { position: absolute; }
#user-account-settings #picture-fields {
    position: absolute; left: 360px; width: 500px;
}
#user-account-settings #picture-fields #instructions {
    font-size: 13px; margin: 5px 0 20px 0;
}
#user-account-settings #picture-fields noscript span {
    font-size: 13px; color: #a90101; font-style: italic; font-weight: bold;
}
#user-account-settings #picture-fields #agreement {
    font-size: 12px; font-style: italic; margin: 10px 0 30px 0;
}
#user-account-settings #picture-fields #choose-file {
    padding-top: 5px; position: relative;
}
#user-account-settings #picture-fields .form-item-files-filepath { margin: 0 }
#user-account-settings #picture-fields #choose-file label { display: none; }
#user-account-settings #picture-fields #filepath:hover { border: none; }
#user-account-settings #picture-fields #filename {
    position: absolute; left: 175px; top: 15px; display: none;
}
#user-account-settings #picture-fields #edit-submit {
    display: block; border: solid 1px #696559; padding: 10px;
    margin-left: 10px;
}
#user-account-settings #picture-fields #edit-submit:hover {
    border-color: #a90101; cursor: pointer;
}
#user-account-settings #picture-form-box #choose-file .description {
    display: block;
}

#user-account-settings .with-js #choose-file { height: 45px; }
#user-account-settings .with-js #choose-file .form-item:hover {
    color: #a90101;
}
#user-account-settings #picture-fields.with-js #choose-file label {
    display: block; border: solid 1px #696559; padding: 10px;
    border-radius: 7px; width: auto;
    z-index: 1000; position: absolute; left: 8px; top: 0;
}
#user-account-settings #picture-fields.with-js #choose-file label:hover {
    cursor: pointer; border-color: #a90101;
}
#user-account-settings .with-js #choose-file.disabled label,
#user-account-settings .with-js #choose-file.disabled label:hover {
    cursor: default; border-color: #ddd; color: #ddd;
}
#user-account-settings .with-js #filepath { cursor: pointer; font-size: .1px; }
#user-account-settings .with-js .disabled #filepath { cursor: default; }
#user-account-settings .with-js #filepath {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=0); opacity: 0;
    position: absolute; left: 0; top: 0;
    width: 300px; height: 20px;
    margin-top: 20px;
    z-index: 1000;
    zoom: 1;
}
#user-account-settings .with-js #submit-box { display: none; }
#cropbox { display: none; }
#cropbox #edit-submit { margin-top: 15px; }

/* PAGE LISTING ALL USER ACCOUNTS */
#user-accounts { margin-left: 12px; width: 948px; }
#user-accounts * { font-size: 13px; }
#user-accounts td {
    vertical-align: top; border-left: none; border-bottom: 1px solid #696559;
    padding: 6px 5px 8px 0;
}
#user-accounts .c1 { width: 250px; }
#user-accounts .c2 { width: 250px; }
#user-accounts .c3 { width: 75px; }
#user-accounts .c4 { width: 275px; }
#user-accounts .c5 { width: 30px; }
#user-accounts td.c5 div.profile-picture { position: relative; width: 27px; }
#user-accounts img { position: absolute; top: -5px; left: 0; width: 27px; }
#user-accounts tr.user-accounts-header td { font-weight: bold; }

/* SUMMARIES PAGES */
#summaries h2 { font-size: 16px; }
#summaries h2 a { font-weight: bold; }
#summaries #subpage-menu-block h3 { margin-top: 5px; }
/*
#summaries #subpage-menu-block .float-right { padding-top: 10px; }
*/
#summaries #supporting-docs-block.expanded { margin-top: 30px; }
#summaries #subpage-menu-block.expanded { margin-bottom: 30px; }
/*
#summaries ul { list-style-type: none; }
#summaries li { margin-left: 12px; margin-bottom: 12px; }
*/

#new-summary-page-form { display: none; }
#new-summary-page-form select,
#new-summary-page-form #edit-title { width: 500px; border-radius: 7px; }
#new-summary-page-form #edit-submit { margin: 10px 0; }
#new-summary-page-form #edit-submit:hover { cursor: pointer; }
#new-summary-page-form select { padding-left: 3px; }
#new-summary-page-form select, #new-summary-page-form select option {
    font-size: 14px; background: #fff; -webkit-appearance: none;
}
#new-summary-page-form .form-item > label {
    text-transform: none; font-weight: normal; margin-left: 5px;
}
#new-summary-page-form #edit-hiddensubmit { display: none; }
.doc-select-popup { display: none; }
.doc-select-popup .form-item-doc { margin-bottom: 0; }
.doc-select-popup .form-item-notes { margin-top: 0; }
.doc-select-popup #edit-doc { width: 760px; }
.doc-select-popup #add-notes { padding: 0; }
.doc-select-popup #filenotes {
    display: none; border: 1px solid #a90101;
    width: 760px; height: 75px; margin-top: 10px; font-size: 11pt;
    border-radius: 5px; resize: none; overflow: auto;
}
.doc-select-popup .form-textarea-wrapper { margin-left: 0; }
.doc-select-popup .form-type-textarea { margin-bottom: 0; }
.doc-select-popup #add-notes label {
    font-weight: normal; margin-left: 14px; margin: 12px 5px 0 5px;
}
.doc-select-popup #charcount {
    display: none; text-align: right; padding-top: 0; margin: 0;
}
.doc-select-popup #edit-submit { margin: 10px 0; }

/* .doc-select-popup .form-submit { margin: 12px 0; } */
table.docs-table .col-1 { width: 285px; }
table.docs-table .col-2 { width: 335px; }
table.docs-table .col-3 { width: 150px; }
table.docs-table .col-4 { width: 80px; }
table.docs-table.admin .col-1 { width: 250px; }
table.docs-table.admin .col-2 { width: 300px; }
/* table.docs-table.admin td { text-align: left; } */
table.docs-table.admin td.col-5 { text-align: center; }

#new-cg-summary-form { display: none; }
#new-cg-summary-form .form-type-textfield input { width: 350px; }

#cg-summaries-block.expanded { margin-bottom: 30px; }

#nci-docs-block.expanded { margin-bottom: 30px; margin-top: 30px; }
#summary-posted-docs-table { margin-top: 10px; }

/* DOCUMENT POSTING */
#documents-title { position: relative; margin-bottom: 15px; }
#documents-title > a {
    display: block; position: absolute; right: 2px; top: -18px;
    border: solid 1px #696559; border-radius: 5px; padding: 10px;
}
#documents-title > a:hover { border: solid 1px #a90101; }
#documents-table th.col-4 { width: 120px; }
#documents-table span.action-divider { padding: 0 3px; }
#post-doc-form #choose-file div:hover { color: #a90101; }
#post-doc-form #choose-file label:hover { cursor: pointer; }
#post-doc-form #choose-file input#filepath {
    cursor: pointer; font-size: .1px;
}
#choose-file, #add-notes { padding-top: 17px; }
#post-doc-form #choose-file { position: relative; }
#post-doc-form #choose-file label {
    zz-index: 2; position: absolute; left: 0px; top: 0; margin-top: 20px;
}
#post-doc-form #choose-file label:hover { color: #a90101; }
#post-doc-form #filename { padding: 10px 0 0 14px; }
#post-doc-form input#filepath {
    cursor: pointer; font-size: .1px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=0); opacity: 0;
    position: absolute; left: 0; top: 0;
    width: 300px; height: 20px;
    margin-top: 20px;
    zz-index: 1;
    zoom: 1;
}
#post-doc-form #edit-submit { margin-left: 0; }
#post-doc-form #edit-desc { padding-left: 12px; }
/*
#pdq-ebms-edit-packet-form #edit-name { margin-left: 12px; }
#pdq-ebms-edit-packet-form .form-item-all-reviewers input {
    margin-left: 12px;
}
#pdq-ebms-edit-packet-form:not(#foo) .form-item-all-reviewers input {
    display: none;
}
#pdq-ebms-edit-packet-form:not(#foo) .form-item-all-reviewers label {
    background: none;
    float: none;
    padding: 0 0 0 12px;
}
#pdq-ebms-edit-packet-form .form-item-all-reviewers label:hover {
    color: #a90101;
}
#pdq-ebms-edit-packet-form:not(#foo) .all-reviewers-visible { display: block; }
#pdq-ebms-edit-packet-form:not(#foo) .all-reviewers-hidden { display: none; }

form.confirmation a#edit-cancel {
    border: 1px solid #696559; border-radius: 7px; text-transform: uppercase;
    padding: 14px; margin-left: 30px;
}
form.confirmation a#edit-cancel:hover { border: 1px solid #a90101; }
#confirm-packet-delete { display: none; }

*/

/* AD-HOC GROUPS */
#groups-table { margin-top: 20px; }
#groups-table th, #groups-table td { border-left: none; }
#groups-table thead tr {
    border-bottom: 1px solid #696559;
}
#groups-table thead th:first-child a { 
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}
#groups-table thead th.col-2 { text-align: right; padding: 0 0 15px 0; }
#groups-table tbody tr:first-child td { padding-top: 20px; }
#groups-table tbody .col-2 { text-align: right; }
#groups-table a.expanded span, #groups-table a:hover { color: #a90101; }
#groups-table ul {
    list-style-type: none; margin-top: 15px; margin-bottom: 25px;
}
#groups-table div.item-list ul li {
    margin-left: 0; margin-bottom: 0; xheight: 16px;
}
/* #group-form #edit-members { height: 6em; } */
/* #group-form #member-instructions { display: none; } */
#group-form #edit-name, #group-form #edit-members { width: 350px; }
#group-form #member-instructions {
    font-size: 12px; font-style: italic; padding-left: 0;
}
#group-form-buttons { text-align: right; }
#group-form-buttons #edit-save.form-submit {
    margin: 0; border: none; padding: 0;
}
#group-form-buttons #edit-save.form-submit:hover {
    color: #a90101; cursor: pointer;
}
#group-form-buttons { padding-bottom: 20px; }

/* PRINT */
@media print {
    #banner, #header, #nav, #breadcrumb, #message-wrapper, #tabs,
    #reports-top, #footer { display: none; }
}

div.ctools-modal-content .modal-header {
    background-color: #696559;
    padding: 0.25em 0.5em 0.25em 1em;
}

div.ctools-modal-content a.close img {
    margin-left: 10px;
}

#modalBackdrop{
    background-color: #696559 !important;
    opacity: 0.8 !important;
}

div.ctools-modal-content .form-item label {
    float: none;
}

/* VIEWS */
.view-display-id-block_next .views-field-field-datespan-1 .date-display-single {
    font-weight: bold;
}