/* 
    Document   : page.css
    Created on : Dec 20, 2012, 3:09:50 PM
    Author     : doylejd
    Description:
        Purpose of the stylesheet follows.
*/



.sidebar-first #content { /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 78%;
    margin-left: 22%;
    margin-right: -100%;
  }


  .sidebar-first .region-sidebar-first { /* Span 1 column, starting in 1st column from left. ??? */
    float: left;
    width: 20%!important;
    margin-left: 0%;
    /* margin-right: -33.333%;*/
  }

  .sidebar-first .region-sidebar-first div.block, .sidebar-first .region-sidebar-first .slot-slot_left_sidebar {
    width: 100%;
    float: left;
    margin-right: 1%;
}

/*Global styling for main memus*/
.region-sidebar-first ul.menu {
    -webkit-padding-start: 0px;
    text-transform: uppercase;
}

.region-sidebar-first ul.menu li {
    list-style: none;
}
.region-sidebar-first ul.menu li a {
    display:block;
    font-size: 16px;
    font-family: Arial;
    width: 100%;
    padding: 10px 5px;
    color: #696559;
    border-bottom: 1px solid #696559;
}

.region-sidebar-first ul.menu li a.active{
    border-bottom: 1px solid #a90101;
    color: #a90101;
}


.region-sidebar-first ul.menu li a:hover {
    border-bottom: 1px solid #2d2c28;
    color: #2d2c28;
    text-decoration: none;
}

.content .node {
    float: left;
    margin-bottom: 50px;
    width: 730px;
    margin-left: 20px;
}

/* This was added because the page.tpl removes the natural title. In the event
that someone would like to hand set with <h2>, the title is too far down the page. */
.node-title {
    margin-top: -20px;
}