/* DATABASE SEARCH */
#search-db-form, #search-results { float: left; width: 710px; }
#search-db-form #edit-boards { width: 100%; padding: 5px 0 5px 10px; }
#search-db-form .form-item-topic-logic label { margin-top: 0; }
#search-db-form fieldset#edit-advanced-search { margin-top: 40px; }
.use-range-checkbox { margin-top: -40px; padding-left: 200px; }

#search-results div.item-list ul#article-list li {
    list-style-type: none; margin-left: 10px;
}
#search-results span.article-number {
    float: left; width: 50px; font-size: 24px; text-align: right;
    padding-right: 10px;
}
#search-results span.article-citation {
    float: left; width: 630px; font-size: 13px; padding-bottom: 30px; 
}
#search-results span.article-citation * { font-size: 13px; }
#search-results span.authors:hover { color: #a90101; }

#search-db-form div.form-item-publication-month {
    margin-top: -42px; padding-left: 100px;
}
#search-results div.float-left { margin-top: 10px; margin-left: 10px; }

/* added later */
/*
#search-db-form input.form-text { width: 620px; }
#search-db-form #edit-advanced-search select,
#search-db-form #edit-advanced-search input { width: 500px; }
#search-db-form #edit-advanced-search #edit-publication-year,
#search-db-form #edit-advanced-search #edit-publication-month { width: 100px; }
*/
