/*
* Applicable to All Forum Templates
*/
#cancel-button {
    padding: 14px;
    color: #696559;
    border-color: #696559;
}
#cancel-button:hover {
    border-color: #a90101;
}
.page-forum .action-links {
    display: none;
}

#forums-right {
    float:left;
    margin-bottom: 50px;
    width: 730px;
}
#no-forums {
    float: left;
    margin-bottom: 50px;
    width: 730px;
    
}
#edit-forum-icon {
}

#edit-forum-icon a,
#edit-forum-icon a:hover, 
#edit-forum-icon a:visited,
#edit-forum-icon a:link {
    text-decoration: none;
}

.forum-title {
    color: #a90101;
    text-transform: uppercase;
}

.forum-topic-started-info, .forum-topic-started-info span {
    color: #696559;
}


.forum-info {
    color: lime;
}

/*
* forums.tpl
*/
#forum-description {
    margin: 5px 0px 30px 0px;
}




/*
* forums-topic-list.tpl
*/
#forum-topic-list {
    margin: 20px 0px;
    padding: 20px 0px;
}
.forum-topics-none-found {
    font-style: italic;
    text-transform: uppercase;
    word-spacing: 5px;
}
.forum-archived {
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 20px;
    margin: 20px 0px;
}
.forum-archived img {
    vertical-align: middle;
}
.forum-topic-on-forum {
    border-bottom: 2px solid black;
    margin-bottom: 40px;
}
.forum-topic-on-forum .forum-description p {
    margin: 10px 0px;
    padding: 0px;
}
.forum-topic-recent-activity {
    margin: 25px 0px;
}
.forum-topic-recent-activity-words {
    vertical-align: top;
    display: inline-block;
    width: 17%;
}
.forum-topic-recent-activity-activity {
    display: inline-block;
    width: 81%;
}
.forum-topic-on-forum .forum-topic-comment-wrapper {
    border: 0px;
    padding: 0px;
    margin: 0px;
}



/*
*/
.forum-topic-comment-wrapper {
    
    position: relative;
    width: 100%;
    display: block;
    padding-bottom: 50px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
}
.forum-topic-comment-and-info {
    margin-left: 50px;
}
.forum-topic-commenter-pic {
    float: left;
    width: 50px;
}

.forum-topic-comment-info {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.forum-topic-commenter {
    text-align: left;
    display: inline-block;
    text-transform: uppercase;
    
}
.forum-topic-comment-date {
    display: inline-block;
    text-align: right;
    float: right;
}
.forum-topic-comment {
    clear: both;
    padding-top: 0px;
    margin-top: 0px;
}
.forum-topic-comment p {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#forum-topic-add-comment {
}
#forum-topic-add-author-pic {
    width: 50px;
    float: left;
}
#forum-topic-add-author {
}
#forum-topic-add-author-and-form {
    margin-left: 50px;
}
#forum-topic-comment-form {
    margin-top: 10px;
}
#forum-topic-comment-form form div {
    margin: 0px;
    padding: 0px;
    
}
form.comment-form fieldset {
    border: 0px;
}
form.comment-form label {
    /*
    This is a horrible fix for not getting the Comment * label to appear
    in the add a comment form.
    */
    padding: 0px;
    margin: 0px;
    display: none;
}

#forum-members { margin-left: 0; padding-left: 0; margin-top: 5px; }
