<div class="margin-top-1 tablet:margin-top-3 desktop:margin-top-5 travel-menu-cards">
  <div class="grid-row grid-wrap margin-bottom-4">
    <div class="grid-col-12 tablet:grid-col-2 card-image margin-top-3">
      <img src="/themes/custom/ebms/images/policies-and-procedures.jpg" alt="people standing with suitcases">
    </div>
    <div class="tablet:padding-left-3 grid-col-12 tablet:grid-col-10">
      <header>
        <h2 class="card-title"><a href="/travel/policies-and-procedures">Policies &amp; Procedures</a></h2>
      </header>
      <div class="card-body">
        <p>Information about traveling for in-person meetings, making reservations, and requesting reimbursement for travel expenses.</p>
      </div>
    </div>
  </div>
  <div class="grid-row grid-wrap margin-bottom-4">
    <div class="grid-col-12 tablet:grid-col-2 card-image margin-top-3">
      <img src="/themes/custom/ebms/images/directions.jpg" alt="Shady Grove offices">
    </div>
    <div class="tablet:padding-left-3 grid-col-12 tablet:grid-col-10">
      <header>
        <h2 class="card-title"><a href="/travel/directions">Directions</a></h2>
      </header>
      <div class="card-body">
        <p>Local airport and transportation options, and information about building access and security.</p>
      </div>
    </div>
  </div>
  <div class="grid-row grid-wrap margin-bottom-4">
    <div class="grid-col-12 tablet:grid-col-2 card-image margin-top-3">
      <img src="/themes/custom/ebms/images/hotel-request.jpg" alt="luggage cart with suitcases">
    </div>
    <div class="tablet:padding-left-3 grid-col-12 tablet:grid-col-10">
      <header>
        <h2 class="card-title"><a href="/travel/hotel-request">Hotel Request</a></h2>
      </header>
      <div class="card-body">
        <p>Complete this form before your meeting if you need to stay overnight.</p>
      </div>
    </div>
  </div>
  <div class="grid-row grid-wrap margin-bottom-4">
    <div class="grid-col-12 tablet:grid-col-2 card-image margin-top-3">
      <img src="/themes/custom/ebms/images/reimbursement-request.jpg" alt="pile of receipts">
    </div>
    <div class="tablet:padding-left-3 grid-col-12 tablet:grid-col-10">
      <header>
        <h2 class="card-title"><a href="/travel/reimbursement-request">Reimbursement Request</a></h2>
      </header>
      <div class="card-body">
        <p>Complete this form after you attend a meeting to request your honoraria and reimbursement for parking, tolls, and ground transportation.</p>
      </div>
    </div>
  </div>
<div>
