/*noinspection Stylelint*/
#block-bartik-content div.topic-buttons label.option {
  margin-right: 2rem;
}
#block-bartik-content div.topic-buttons div.topic-button {
  display: inline-block;
}
#block-bartik-content div.article-review-buttons {
  margin-top: .5rem;
}
#block-bartik-content div.article-review-buttons a {
  border-bottom: none;
  color: #3a3a3a;
}
#block-bartik-content #board-controlled select {
  max-width: 90%;
}
@media only screen and (max-width: 650px) {
  #block-bartik-content div.topic-buttons div.topic-button {
    display: block;
  }
}
#block-bartik-content #ebms-review-queue button {
  margin-right: 0;
}
#ebms-review-queue #edit-decisions {
  display: none;
}
#ebms-review-queue #edit-topic.usa-select {
  height: 6.5rem;
}
.review-queue-article {
  margin-bottom: 4rem;
}
.topic-buttons {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.topic-button {
  display: inline-block;
  margin-right: 2rem;
}
.review-topic-name a {
  margin-left: 1.5rem;
}
.review-topic {
  margin: 0;
}
h3.topic-board {
  margin-bottom: 0;
}
@media (min-width: 64em) {
  .review-topic {
    clear: both;
  }
  .name-and-tags {
    float: left;
    width: auto;
    padding-top: .5rem;
  }
  .topic-button-wrapper {
    float: right;
    width: auto;
  }
  .add-topic-tag,
  .topic-buttons {
    display: inline-block;
    width: auto;
    margin-top: 0;
  }
  .usa-form .add-topic-tag a.usa-button {
    margin-top: 0;
    margin-left: 0;
  }
}
