#fulltext-top #left-nav { margin-top: 6px; }
#fulltext-filter { float: left; width: 730px; margin-bottom: 40px; }
#fulltext-filter .form-select { width: 500px; }
#fulltext-filter .form-type-select label { text-transform: uppercase; }
#fulltext-filter #filter-buttons { width: 500px; text-align: right; }
#fulltext-filter #filter-buttons input {
    margin: 15px 0 12px 12px; padding: 10px 12px;
}
#pdq-ebms-fulltext-form .form-submit { padding: 10px 12px; }
#fulltext-articles .article-fields .form-file { margin: 0 25px 35px 11px; }
#fulltext-articles .article-fields .form-item { float: left; }
#fulltext-articles .citation { clear: both; margin: 50px 0 0 11px; }
#fulltext-articles .article-counter {
    float: left; margin-left: -65px; width: 50px; font-size: 36px;
    text-align: right; padding-right: 15px;
}
#fulltext-articles a { text-transform: uppercase; }
#fulltext-articles .article-citation a { text-transform: none; }
#edit-submit-1 { float: left; margin-top: 10px; }
#edit-submit-2 { clear: both; display: block; }
#pdq-ebms-fulltext-form div div.item-list { float: right; }
a.show-pages { float: right; margin-top: 25px; }
div.ebms-error {
    width: auto; border-radius: 7px; color: #2d2c28;
    border: solid 3px #d2817d; background-color: rgb(250,210,210);
    padding: 10px 12px; margin: 6px 0 6px 11px;
}
div.ebms-error ul { margin: 0 0 0 1em; padding: 0; }
#queue-options div {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
}
form #queue-options .form-item.form-type-checkbox:not(#foo) label {
    text-transform: uppercase;
    float: right;
    width: 189px;
    padding-left: 26px;
}
