#main-right-panel { float: left; width: 710px; }
#main-right-panel .button,
#reviewed-packet-list .button { float: left; margin-top: 10px; margin-left: 10px; }
div.more-actions { margin: 30px 10px; }
#left-nav .ebms_left_nav_block { padding-left: 0; }
#left-nav .ebms_left_nav_block li {
    border: none; padding-bottom: 0; clear: both;
}
#left-nav .ebms_left_nav_block li input { float: left; }
.review-board label, .board-name {
    font-size: 13px; float: left; margin-left: 0px; width: 145px;
    font-weight: normal;
}
div.review-board { clear: both; margin-bottom: 15px; margin-top: 10px; }
div.review-board input, div.review-board label { float: left; padding-bottom: 10px; }
div.review-board input { margin-left: 10px; margin-right: 10px; }
.left-nav-box { padding-bottom: 10px; }

#left-nav .ebms_left_nav_block li.last { margin-bottom: 0; padding-bottom: 0; }
#left-nav .ebms_left_nav_block li.first { margin-top: 0; padding-top: 0; }
#left-nav .more-actions h3 {
/*
    background-image: url("../images/left-nav-box-title.png"); color: white;
    background-repeat: no-repeat; height: 41px; text-transform: uppercase;
*/
    font-size: 14px; padding-left: 0px; xline-height: 41px;
    margin-bottom: 0; margin-top: 0; font-weight: bold;
}
#left-nav .ebms_left_nav_block {
    border-left: 1px #696559 solid; border-right: 1px #696559 solid;
    padding: 0px 0; margin: 0;
}
.ebms-left-nav-block-bottom {
    margin: 0; padding: 0; border: none; display: block;
}
#left-nav label.option { font-size: 14px; }
#manager-packet-table .reviewer { clear: both; width: 230px; }
#manager-packet-table .reviewer .reviewer-name { float: left; width: 150px; }
#manager-packet-table .reviewer img { float: right; }
#buttons .button { float: left; margin: 10px; }
/* #manager-packet-table .col-2 { width: 230px; } */
#manager-packet-table .col-4 { text-align: center; }
#manager-packet-table div.links { margin: 20px 0px; }
#manager-packet-table div.links a {
    text-transform: uppercase; padding-right: 8px; padding-left: 8px;
}
#manager-packet-table div.links a:first-child { padding-left: 0; }
#manager-packet-table div.links a:last-child { padding-right: 0; }
#manager-packets-table span.new { font-weight: bold; color: #a90101; }

#left-nav ul.ebms_left_nav_block { border: none; }
/* #left-nav ul.ebms_left_nav_block li { border-left: 1px #696559 solid; } */
#left-nav ul.ebms_left_nav_block li { margin-left: 0; }
#reviewed-citation-left { float: left; width: 320px; }
#article-reviews-right {
    float: left; width: 620px; border-left: 1px #696559 solid;
}
#reviewed-citation-left #citation { padding-left: 10px; padding-right: 10px; }
#reviewed-citation-left #view-abstract-link {
    text-transform: uppercase; margin: 40px 0 15px 10px;
}
#reviewed-citation-left #download-full-text-link {
    text-transform: uppercase; margin: 10px;
}
#article-reviews-right .review {
    border-bottom: 1px #696559 solid; padding-bottom: 20px;
}
#article-reviews-right .review:last-child { border-bottom: none; }
#article-reviews-right h3 { margin-bottom: 4px; margin-top: 20px; position: relative; }
#article-reviews-right p { margin-top: 4px; margin-bottom: 4px; width: 100%; }
#article-reviews-right .review .float-right { float: right; }
.left-nav-box{
    border: 1px solid #696559;
    border-radius: 7px 7px 7px 7px;
    margin: 15px 5px;
}

.left-nav-box-title {
    background-color: #696559;
    color: white;
    border-radius: 4px 4px 0px 0px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
}
#member-review div.links { margin-left: 12px; }
h3.pkt-rvwr-files { margin-top: 40px; border-bottom: solid 1px #696559; }
#member-packet #reviewer-uploads td { padding-left: 5px; width: auto; }
#pdq-ebms-edit-packet-form .packet-article-block label { width: 650px; }
#pdq-ebms-edit-packet-form .packet-article-block a {
    float: left; border: solid 1px #696559; border-radius: 7px; padding: 7px;
}
#pdq-ebms-edit-packet-form .packet-article-block label a {
    float: none; border: none; padding: 0;
}
#pdq-ebms-edit-packet-form .packet-article-block a:hover {
    border-color: #a90101; color: #a90101; text-decoration: none;
}

/* OCEEBMS-161 */
#pdq-ebms-edit-packet-form .topic-group {
    margin-top: 30px; margin-left: -12px; font-weight: bold;
}

/* OCEEBMS-335 */
#member-packet h3 { color: #696559; }

/* ************ For filter forms at top ************* */
#reviewed-packets-filter-form .container-inline-date .date-padding,
#packet-filter-form .container-inline-date .date-padding {
    float: none; clear: both; padding-top: 0;
}
#reviewed-packets-filter-form .date-padding .description,
#packet-filter-form .date-padding .description {
    display: none;
}
#reviewed-packets-filter-form .container-inline-date .label-508,
#packet-filter-form .container-inline-date .label-508 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#reviewed-packets-filter-form #edit-pkt-scope .form-type-checkbox,
#packet-filter-form #edit-pkt-scope .form-type-checkbox {
    display: inline;
}
#reviewed-packets-filter-form #edit-pkt-scope legend,
#packet-filter-form #edit-pkt-scope legend {
    margin-bottom: 10px;
}
#reviewed-packets-filter-form .form-submit,
#packet-filter-form .form-submit {
    margin-top: 5px;
}
#packet-filter-form fieldset#edit-topic-box { margin-top: 20px; }
#packet-filter-form fieldset#edit-topic-box legend { margin-left: -17px; }

/* ************ End filter form at top ************* */

p.archived-review-header { border: 1px solid black; font-style: italic; }

#reviewed-packets-filter-form { margin-bottom: 48px; }
#reviewed-packets-filter-form h3 { margin-bottom: 18px; }
#reviewed-packets-filter-form fieldset { margin-bottom: 24px; }
#reviewed-packets-filter-form fieldset legend { margin-left: -17px; }
#reviewed-packets-filter-form .form-item-packet-title-text {
    margin-bottom: 10px;
}
#reviewed-packets-filter-form .button-wrapper { margin-top: 30px; }
#reviewed-packets-filter-form #edit-date-limits { margin-bottom: 15px; }
#reviewed-packet-list { clear: both; }

/* OCEEBMS-350 */
#reviewed-packet-list .starred-packet,
#reviewed-packet-list .unstarred-packet { font-size: 16pt; cursor: pointer; }
#reviewed-packet-list .starred-packet { color: #74a5d7; }
#reviewed-packet-list .unstarred-packet { color: #c1c1c1; }

/* OCEEBMS-405 */
#manager-packet-table span.mrs { color: #2a72a5; }

/* OCEEBMS-438 */
body.page-review div.ctools-modal-content div.modal-header {
    background-color: #2a72a5;
    /* padding: 1em; */
}

/* OCEEBMS-471 */
form #manager-packets-table .form-checkbox:not(#foo) {
    position: initial;
    opacity: 100;
}
form #manager-packets-table th .form-checkbox:not(#foo) { position: relative; }
h1#packet-bulk-archive-confirm-title { color: #a90101; }
#ebms-packet-bulk-archive-confirm .packet-bulk-archive-confirm-description {
    color: #a90101;
    font-style: italic;
    font-weight: bold;
    font-size: 13pt;
}
form#ebms-packet-bulk-archive-confirm li { font-size: 12pt; }
