/*
    Document   : ebms_webform.css
    Created on : Dec 20, 2012, 9:34:04 AM
    Author     : doylejd
    Description:
        Purpose of the stylesheet follows.
*/


#webform-component-amount.hidden {
    display:none;
}

#webform-table-right {
        float:left;
    margin-bottom: 50px;
    width: 730px;
}
#webform-table-long-right {
    float: left;
    margin-top: 20px;
}
.travel-left-nav {
    margin-top:20px;
}

/* Fix for specific problem on page */
#edit-submitted-receipts-upload-button {
    margin-bottom: 0px;
}

#preview-area { margin-left: 12px; }

#webform-table-right .fixed-width { width: 500px; }
#webform-table-right div.date-with-range { margin: 20px 0 10px 12px; }
#webform-table-right .container-inline-date .description { display: none }
#webform-table-right .fixed-width.form-select { width: 485px; }
#webform-table-right div.form-item-remember { padding-left: 460px; }
#webform-table-right form .form-item.form-type-checkbox:not(#foo) label {
    padding-left: 29px;
}
#webform-table-right .form-item label { line-height: 22px; }
#webform-table-right .form-type-select label { float: right; }
#webform-table-right .form-item.form-type-select { clear: both; float: none; }
#webform-table-right .form-submit {
    margin-top: 5px; padding: 10px; clear: both;
}
#webform-table-right label.form-item {
    text-transform: uppercase; float: right; width: 200px;
}
#webform-table-right .container-inline-date { display: inline-block; }
#webform-table-right .container-inline-date .date-padding { padding: 0; }
#webform-table-right div.date-pair { display: inline-block; }

/*
 * For some reason, the webforms module displays the description text
 * above *and* below the radio buttons.  Don't want that.
 */
#webform-component-meals-and-incidentals > .description,
#webform-component-reimbursement > .description { display: none; }
.webform-client-form .form-wrapper legend { margin-top: 20px; }

#webform-component-type-of-travel { margin-top: 40px; }
#ebms-webforms-report-form .date-field-wrapper.label-on-right date-label {
    margin-left: 3px;
}
#ebms-webforms-report-form .date-field-wrapper.label-on-right
.date-field-widgets {
    width: 485px;
}
