/* 
    Document   : ebms_webform.css
    Created on : Dec 20, 2012, 9:34:04 AM
    Author     : doylejd
    Description:
        Purpose of the stylesheet follows.
*/


#webform-component-amount.hidden {
    display:none;
}

#webform-table-right {
        float:left;
    margin-bottom: 50px;
    width: 730px;
}
#webform-table-long-right {
    float: left;
    margin-top: 20px;
}
.travel-left-nav {
    margin-top:20px;
}

/* Fix for specific problem on page */
#edit-submitted-receipts-upload-button {
    margin-bottom: 0px;
}

#preview-area { margin-left: 12px; }

#webform-table-right div.container-inline-date div.description { display: none }
#webform-table-right .fixed-width { width: 500px; }
#webform-table-right div.date-with-range { margin: 20px 0 10px 12px; }
#webform-table-right div.date-pair {
    width: 504px; display: inline-block;
}
#webform-table-right label.form-item,
#webform-table-right div.date-label {
    text-transform: uppercase; display: inline-block;
}
#webform-table-right div.container-inline-date { display: inline-block; }
#webform-table-right label { margin-top: 0; }
#webform-table-right .container-inline-date .date-padding { padding: 0; }
#webform-table-right .date-range-sep { margin-right: 12.5px; }
#webform-table-right .form-submit { margin-top: 5px; padding: 10px; }
